{{!-- <article class="post">
    <div class="title">
      <a href="{{post_url}}" target="_blank">{{title}}</a>
      <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
      {{User.username}}
      on
      {{format_date created_at}}
      |
      <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </article>
  --}}

  <article class="post">
    <div class="user-post">
        {{user.username}} on {{format_date created_at}}
    </div>
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="content-post">
        <a href="/post/{{id}}">{{content}}</a>
    </div>
    <div class="comment-post">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>